<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbOdLKboyT0C8SkL2kuR6snWoYWezQSBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>537954318009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playingTracker</string>
	<key>PROJECT_ID</key>
	<string>playing-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>playing-tracker-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537954318009:ios:a0bd3a0e829820499f8d68</string>
</dict>
</plist>